/*
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

$kaneFont : "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

.main.container {
  margin-top: 100px;
  margin-bottom: 40px;
}

.ui {
  #medium {
    font-family: $kaneFont;
    font-size: 21px;
    line-height: 1.58;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: $kaneFont;
      margin-top: 29px;
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: -19px;
    }

    h2,
    h3,
    h4,
    h5 {
      font-size: 28px;
      color: rgba(0, 0, 0, .44);
      font-weight: 300;
      margin-bottom: -19px;
    }

    p {
      margin-top: 29px;
    }

    blockquote {
      font-style: italic;
      border-left: 3px solid rgba(0,0,0,.8);
      padding-left: 20px;
      margin-left: -23px;
      padding-bottom: 3px;
    }

    pre {
      font-family: Menlo,Monaco,"Courier New",Courier,monospace;
      background: rgba(0,0,0,.05);
      padding: 20px;
      font-size: 16px; 
      margin-top: 44px;
    }

    a {
      color: inherit;
      background-color: transparent;
      cursor: auto;
      text-decoration: none;
      background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: 0 22px;
    }
  }
}
