/*
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

$kaneSansSerifFont : "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$kaneSerifFont : "Times New Roman",serif;
$kaneFixedFont : "Inconsolata","Hack","Menlo","Monaco","Droid Sans Mono","Courier New","Courier",monospace;

.main.container {
  margin-top: 100px;
  margin-bottom: 40px;
}

#kane_summary,
#kane_content {
  .ui.fluid.raised.card {
    font-family: $kaneSansSerifFont;
    font-size: 1.6rem;
  }

  .ui.segment {
    font-family: $kaneSerifFont;
    font-size: 1.8rem;
  }

  .ui.segment,
  .ui.fluid.raised.card {
    font-weight: 400;
    color: rgba(0, 0, 0, .7);

    h1,
    h2,
    h3,
    h4,
    h5,
    .header,
    .description
    {
      font-family: $kaneSansSerifFont;
    }

    h1,
    .header
    {
      font-size: 2.5rem;
      font-weight: 600;
    }

    h2,
    h3,
    h4,
    h5 {
      color: rgba(0, 0, 0, .44);
      font-size: 2.1rem;
      font-weight: 300;
      margin-bottom: -19px;
    }

    p,
    .description
    {
      margin-top: 29px;
    }

    blockquote {
      font-style: italic;
      border-left: 3px solid rgba(0,0,0,.8);
      padding-left: 20px;
      margin-left: -23px;
      padding-bottom: 3px;
    }

    code,
    kbd,
    pre,
    samp {
      font-family: $kaneFixedFont;
      font-size: 1.2rem;
    }

    pre {
      background: rgba(0,0,0,.05);
      padding: 20px;
      margin-top: 44px;
    }

    a {
      color: inherit;
      background-color: transparent;
      cursor: auto;
      text-decoration: none;
      background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: 0 22px;
    }
  }
}
